@font-face {
  font-family: 'Clash Display';
  src: local("ClashDisplayVariable"),
    url("./fonts/ClashDisplay-Variable.ttf") format("truetype");
}

.ck-fm {
  /* width: 90%;
  max-width: 400px;
  margin: auto; */
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: #21346b;
  transform-origin: 0%;
}

.ck-fm input {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border: 0;
  background-color: rgba(20, 20, 23, 0.361);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.ck-fm button {
  background-color: #21346b;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  margin-top: 0.1rem;
}


.ck-fm button:hover {
  opacity: 0.75;
}